.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

.randomSection {
	width: 90%;
	margin: 0 auto;
	padding: 3rem 0;
}

.randomSection h2 {
	width: 100%;
	text-align: center;
	font-size: 2rem;
	margin: 0 0 1rem;
}

.randomSection p {
	width: 100%;
	text-align: center;
	font-size: 1rem;
	margin: 0 0 3rem;
}

.mouse {
	width: 26px;
	height: 55px;
	border: 2px solid lightgray;
	border-radius: 60px;
	position: relative;
	margin: 0 auto 3rem;
}

.mouse::before {
	content: '';
	width: 12px;
	height: 12px;
	position: absolute;
	top: 10px;
	left: 52%;
	transform: translateX(-50%);
	background-color: lightgray;
	border-radius: 50%;
	opacity: 1;
	animation: wheel 2s infinite;
	-webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 30px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 30px;
	}
}

.searchSection {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
